@charset "UTF-8";
body
{
  background-color: rgb(96, 192, 79);
}
h1{
  color: rgb(128, 0, 100);
  font-weight: bold;
}
h2{
  color:yellow;
  font-weight: bolder;
}
#principal{
  color:brown;
  text-align: center;
  background-color: greenyellow;
}